<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <!-- start navbar header -->
    <%-include('partials/header'); %>
    <!-- end navbar header -->


    <div class="container mt-4 mb-4">

        <nav aria-label="breadcrumb" class="small">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"><i class="fa-solid fa-house me-1"></i>Dashboard</a></li>
              <!-- <li class="breadcrumb-item"><a href="#">Data</a></li> -->
              <li class="breadcrumb-item active" aria-current="page">Tambah Buku</li>
            </ol>
          </nav>
          <hr>


        <form class="" action="/mdERQU0pnVpHd08ifQ/adm/post_book" method="post" enctype="multipart/form-data">
            <div class="row d-flex">
                <div class="col">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Title Book</label>
                        <input type="text" class="form-control text-capitalize" name="title_book" id="exampleInputtitle" aria-describedby="emailHelp" required>
                        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                    </div>
    
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Author</label>
                        <input type="text" class="form-control text-capitalize" name="author" id="exampleInputPassword1" required>
                    </div>
    

                </div>

                <div class="col">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Publisher</label>
                        <input type="text" class="form-control text-capitalize" name="publisher" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                    </div>
    
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Publication Year</label>
                        <input type="date" class="form-control" name="publication_year" id="exampleInputPassword1" required>
                    </div>

                    <!-- <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Publication Year</label>
                        <input type="email" class="form-control" name="publication_year" id="exampleInputPassword1" required>
                    </div> -->
                </div>

                <div class="row">
                    <div class="col-lg-4 mb-3">
                        <label for="exampleInputPassword1" class="form-label">Number of Page</label>
                        <input type="number" class="form-control" name="number_of_page" id="exampleInputPassword1" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 mb-3">
                        <label for="exampleInputPassword1" class="form-label">Book Cover</label>
                        <input type="file" class="form-control" onchange="validateFileSize()" name="file" id="file" required>
                        <small id="fileSizeError" style="color: red; display: none;">File size should be less than 1MB.</small>
                    </div>
                    
                    
                    <div class="col-lg-4 mb-3">
                        <label for="exampleInputPassword1" class="form-label">Book PDF (link)</label>
                        <input type="text" class="form-control link-primary" name="book_pdf" id="exampleInputPassword1" required>
                    </div>

                    <!-- <div class="col-lg-4 mb-3">
                        <label for="exampleInputPassword1" class="form-label">Genre Buku</label>
                        <select name="" class="form-select" id="">
                            <option value="">Pilih Genre</option>
                            <option value="">Programming</option>
                            <option value="">Physic</option>
                            <option value="">Novel</option>
                        </select>
                    </div> -->

                </div>
                
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Book Detail</label>
                    <textarea type="email" class="form-control" name="book_description" id="exampleInputPassword1"></textarea>
                </div>
            </div>

            <a href="/mdERQU0pnVpHd08ifQ/adm/data_book" class="btn btn-warning">Back</a>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <!-- vendor js files. -->
    
    <script>
        function validateFileSize() {
            const fileInput = document.getElementById('file');
            const fileSizeError = document.getElementById('fileSizeError');
            
            if (fileInput.files.length > 0) {
                const fileSize = fileInput.files[0].size; // in bytes
                const maxSize = 1024 * 1024; // 1MB
    
                if (fileSize > maxSize) {
                    fileSizeError.style.display = 'block';
                    return false; // Prevent form submission
                } else {
                    fileSizeError.style.display = 'none';
                    return true; // Allow form submission
                }
            }
    
            return true; // Allow form submission if no file is selected
        }
    </script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    
</body>
</html>