<footer class="bg-dark text-light py-3 mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>© 2024 LitLane Book. All rights reserved.</p>
            </div>
            <div class="col-md-6">
                <!-- Form untuk mengirim email -->
            
            </div>
        </div>
    </div>
</footer>