<!-- navbar user. -->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
<nav class="navbar navbar-expand-lg shadow-sm" style="background-color: #EEEEEE;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" style="font-family: 'Rubik';">Litlane Book</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a href="/mainBook" class="nav-link text-dark" aria-current="page" href="#">Beranda</a>
                    </li>


                    <li class="nav-item me-2">
                        <a class="nav-link text-dark" href="/about">Tentang</a>
                    </li>


                </ul>
            </div>
            
        </div>
    </div>
</nav>